@model List<Products>
@using DataAccess.Models


<section class="mx-4 lg:container mt-20">
	<!-- SECTION TITLE -->
	<div class="flex flex-col gap-y-4 xs:flex-row items-center justify-between w-full text-center xs:text-start">
		<div class="flex items-center gap-x-2 sm:gap-x-4">
			<span class="size-12 hidden xs:flex rounded-lg bg-white shadow-lg dark:bg-gray-800 flex-center">
				<svg class="size-7 text-gray-700 dark:text-gray-100">
					<use href="#mobile"></use>
				</svg>
			</span>
			<div class="space-y-1 md:space-y-1">
				<h3 class="text-xl md:text-2xl font-MorabbaMedium text-gray-800 dark:text-gray-50">
					پرفروش ترین <span class="text-blue-600 dark:text-blue-500">محصولات</span>
				</h3>
				<p class="text-sm text-gray-500 dark:text-gray-300">جدیدترین و بروزترین محصولات</p>
			</div>
		</div>
		<div class="w-full xs:w-auto flex justify-between xs:justify-end items-center gap-x-2">
			<div class="flex items-center gap-x-2">
				<button class="slider-navigate_btn LatestProducts-prev-slide">
					<svg class="size-6 -rotate-90">
						<use href="#chevron" />
					</svg>
				</button>
				<button class="slider-navigate_btn LatestProducts-next-slide">
					<svg class="size-6 rotate-90">
						<use href="#chevron" />
					</svg>
				</button>
			</div>
			<a asp-action="Store" asp-controller="Product"
			   class="group shadow-xl text-sm md:text-base flex gap-x-1.5 items-center px-2 h-10 md:px-3 text-white bg-blue-600 rounded-xl">
				<p>مشاهده همه</p>
				<span class="w-7 h-7 rounded-full bg-blue-500 flex-center md:group-hover:-translate-x-1 transition-transform duration-300">
					<svg class="size-5">
						<use href="#arrow" />
					</svg>
				</span>
			</a>
		</div>
	</div>
	<div class="w-full h-80 rounded-xl bg-blue-500 dark:bg-blue-700 p-4 relative">
		<!-- AmazingSlider products Slider -->
		<div class="swiper AmazingSlider w-full rounded-xl">
			<div class="swiper-wrapper">
				<!-- item -->
				<div class="swiper-slide amazing-card">
					<img class="w-28 h-28" src="/assets/images/slider/Amazings.svg" alt="">
					<!-- TIMER -->
					<div class="flex items-center gap-x-2">
						<span class="timer-box" id="seconds">00</span>
						<p class="text-white">:</p>
						<span class="timer-box" id="minutes">00</span>
						<p class="text-white">:</p>
						<span class="timer-box" id="hours">03</span>
					</div>

					<a href="shop.html" class="flex items-center gap-x-.5 text-gray-100 cursor-pointer">
						<p>مشاهده همه</p>
						<svg class="size-4 rotate-90">
							<use href="#chevron"></use>
						</svg>
					</a>
				</div>
				@foreach (var item in Model)
				{
					<div class="swiper-slide small-card group">
						<!-- product header -->
						<div class="w-full flex items-center justify-between">
							<span class="flex items-center gap-x-0.5 text-blue-400">
								<svg class="size-4 mb-1">
									<use href="#rocket"></use>
								</svg>
								<p class="text-xs">ارسال امروز</p>
							</span>
							<span class="text-gray-400 flex items-center justify-end text-sm gap-x-0.5">
								<p> 5.0 </p>
								<svg class="size-4 mb-1">
									<use href="#star"></use>
								</svg>
							</span>
						</div>
						<!-- product img -->
						<a asp-action="ProductDetails" asp-controller="product" asp-route-id="@item.ProductId">
							<img src="/api/File/GetFile?filename=@item.ImageName" width="60px" height="60px" />
						</a>
						<!--  product footer -->
						<div class="space-y-2">
							<a asp-action="ProductDetails" asp-controller="product" asp-route-id="@item.ProductId" class="small-card_link">
								@item.ProductTitle
							</a>
							<!-- Rate and Price -->
							<div class="product-card_price-wrapper">
								<!-- Price -->
								<div class="small-card_price justify-between">
									<span class="pt-1">70%</span>
									<h4 class="flex items-center gap-x-1 text-lg">
										@item.ProductPrice <p class="text-xs font-DanaMedium">تومان</p>
									</h4>
								</div>
							</div>
						</div>
					</div>
				};
				<a href="shop.html" class="swiper-slide amazing-card_last ">
					<svg class="size-10 ">
						<use href="#arrow-left-circle"></use>
					</svg>
					<h2>مشاهده همه</h2>
				</a>
			</div>
		</div>
		<button class="slider-navigate_btn absolute right-1 top-36 border dark:border-gray-700 border-gray-200 AmazingSlider-prev-slide z-10">
			<svg class="size-6 -rotate-90">
				<use href="#chevron" />
			</svg>
		</button>
		<button class="slider-navigate_btn absolute left-1 top-36 border dark:border-gray-700 border-gray-200 AmazingSlider-next-slide z-10">
			<svg class="size-6 rotate-90">
				<use href="#chevron" />
			</svg>
		</button>
	</div>
	</div>
</section>