<div class="container w-full mt-10 lg:mt-20 flex flex-wrap items-center justify-between gap-6 child:text-sm child:gap-y-1 child:cursor-pointer">
    <!-- item -->
    <span class="flex-col items-center justify-center hidden md:flex">
        <img class="w-14 h-14" src="/assets/images/svg/1.svg " alt="">
        <p class="text-gray-500 dark:text-gray-300">امکان تحویل اکسپرس</p>
    </span>
    <span class="flex flex-col items-center justify-center">
        <img class="w-14 h-14" src="/assets/images/svg/2.svg" alt="">
        <p class="text-gray-500 dark:text-gray-300">ضمانت اصل بودن کالا</p>
    </span>
    <span class="flex flex-col items-center justify-center">
        <img class="w-14 h-14" src="/assets/images/svg/3.svg" alt="">
        <p class="text-gray-500 dark:text-gray-300">ضمانت بازگشت کالا</p>
    </span>
    <span class="flex flex-col items-center justify-center">
        <img class="w-14 h-14" src="/assets/images/svg/4.svg" alt="">
        <p class="text-gray-500 dark:text-gray-300">پشتیبانی 24 ساعته</p>
    </span>
    <span class="flex flex-col items-center justify-center">
        <img class="w-14 h-14" src="/assets/images/svg/5.svg" alt="">
        <p class="text-gray-500 dark:text-gray-300">امکان پرداخت در محل</p>
    </span>
</div>