@model DataAccess.Models.Brand

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";
}

<h1>جزیات برند </h1>

<div>
    <h4>برند</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BrandId" class="btn btn-warning">ویرایش</a> |
    <a asp-action="Index" class="btn btn-primary">برگشت به لیست </a>
</div>
