<main class="container">
    <!-- Breadcrumb -->
    <nav class="flex mt-8" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
                <a asp-controller="Home" asp-action="Index"
                   class="inline-flex items-center text-sm gap-x-1  text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="size-4 mb-0.5">
                        <use href="#home" />
                    </svg>
                    صفحه اصلی
                </a>
            </li>
            <li class="inline-flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 9 4-4-4-4" />
                </svg>
                <a asp-controller="Home" asp-action="Article"
                   class="inline-flex items-center text-sm gap-x-1  text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    مقالات
                </a>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="ms-1 text-sm  text-gray-500 md:ms-2 dark:text-gray-400">جزییات مقاله</span>
                </div>
            </li>
        </ol>
    </nav>
    <!-- Article Details -->
    <section class="flex flex-col lg:flex-row items-start gap-4 mt-8 ">
        <!-- ARTICLE -->
        <div class="w-full lg:w-3/4 flex flex-col gap-y-8 px-4 lg:px-8 py-4 rounded-lg bg-white dark:bg-gray-800 shadow">
            <!-- ARTICLE HEADER -->
            <div class="w-full flex flex-col gap-y-6 ">
                <div class="flex flex-col lg:flex-row gap-y-3 lg:items-center lg:justify-between">
                    <h2 class="font-DanaDemiBold text-lg lg:text-2xl"> بررسی پروتئین بار BineStar </h2>
                    <span class="flex items-center gap-x-1 text-blue-500 cursor-pointer">
                        <svg class="w-4 h-4">
                            <use href="#share"></use>
                        </svg>
                        <p class="font-DanaMedium">اشتراک گذاری</p>
                    </span>
                </div>
                <div class="flex flex-wrap  items-center gap-y-3 gap-x-8 text-sm">
                    <span class="flex items-center gap-x-1 text-gray-400 ">
                        <svg class="w-4 h-4">
                            <use href="#list-bullet"></use>
                        </svg>
                        <p>دسته‌بندی : تغذیه ورزشی</p>
                    </span>
                    <span class="flex items-center gap-x-1 text-gray-400 ">
                        <svg class="w-4 h-4">
                            <use href="#user"></use>
                        </svg>
                        <p>توسط : تیم تحریریه BineStar </p>
                    </span>
                    <span class="flex items-center gap-x-1 text-gray-400 ">
                        <svg class="w-4 h-4">
                            <use href="#calendar"></use>
                        </svg>
                        <p> تاریخ انتشار : 1403/05/26 </p>
                    </span>
                </div>
            </div>
            <!-- ARTICLE MAIN -->
            <div>
                <img class="rounded-lg" src="/assets/images/articles/protoin.jpg" alt="پروتئین بار BineStar">
                <p class="mt-3 leading-10 text-gray-600 dark:text-gray-300">
                    پروتئین بار BineStar یک میان‌وعده سالم و انرژی‌بخش است که برای ورزشکاران و افرادی که به تغذیه سالم اهمیت می‌دهند طراحی شده است. این محصول با ترکیب متعادل پروتئین، فیبر و ویتامین‌ها، علاوه بر تأمین انرژی روزانه، به رشد و ترمیم عضلات کمک می‌کند. پروتئین بار بین‌استار انتخابی عالی برای قبل و بعد از تمرین و حتی در طول روز به‌عنوان یک اسنک سالم است.
                </p>
                <h2 class="mt-3 font-DanaMedium text-xl">
                    میان‌وعده‌ای سالم و مغذی
                </h2>
                <p class="mt-3 leading-10 text-gray-600 dark:text-gray-300">
                    این پروتئین بار با فرمولاسیون خاص و مواد اولیه باکیفیت، بدون افزودنی‌های مضر تهیه شده و به شما کمک می‌کند در طول روز سطح انرژی پایدار داشته باشید. مصرف آن برای ورزشکاران، دانشجویان و حتی افراد پرمشغله مناسب است.
                </p>
                <h2 class="mt-3 font-DanaMedium text-xl">مشخصات فنی :</h2>
                <ul class="mt-3 text-gray-600 dark:text-gray-300 space-y-2 child:flex child:items-center child:gap-x-2">
                    <li>
                        <span class="w-3 h-3 rounded-full bg-blue-500 flex"></span>
                        <p>حاوی پروتئین باکیفیت برای رشد و ترمیم عضلات</p>
                    </li>
                    <li>
                        <span class="w-3 h-3 rounded-full bg-blue-500 flex"></span>
                        <p>دارای فیبر برای بهبود عملکرد گوارش</p>
                    </li>
                    <li>
                        <span class="w-3 h-3 rounded-full bg-blue-500 flex"></span>
                        <p>بدون مواد نگهدارنده و افزودنی‌های مضر</p>
                    </li>
                    <li>
                        <span class="w-3 h-3 rounded-full bg-blue-500 flex"></span>
                        <p>مناسب برای قبل و بعد از تمرین ورزشی</p>
                    </li>
                </ul>

                <h2 class="mt-4 font-DanaMedium text-xl">
                    انتخابی هوشمند برای سبک زندگی سالم
                </h2>
                <p class="mt-3 leading-10 text-gray-600 dark:text-gray-300">
                    پروتئین بار BineStar با طعم خوشمزه و ارزش غذایی بالا، جایگزینی عالی برای میان‌وعده‌های ناسالم است. مصرف منظم آن باعث تأمین پروتئین موردنیاز بدن، جلوگیری از ضعف و افزایش انرژی می‌شود. این محصول گزینه‌ای عالی برای افرادی است که به سلامتی و تناسب‌اندام خود اهمیت می‌دهند.
                </p>
            </div>
        </div>
        <!-- SIDE BAR -->
        @* ///////////////////////////////////// *@
        <div class="top-2 lg:sticky w-full lg:w-1/4 child:rounded-lg child:bg-white child:dark:bg-gray-800 child:shadow child:p-4 space-y-5 child:flex child:flex-col child:gap-y-4">
            <div>
                <h4 class="font-DanaMedium">جدیدترین مقالات : </h4>
                <ul class="w-full child:flex child:items-center child:gap-x-2 child:cursor-pointer space-y-4 ">
                    <li>
                        <img class="w-24 h-16 object-cover rounded-lg" src="/assets/images/articles/ganoderma.jpg" alt="">
                        <a class="flex flex-col gap-y-2 " asp-controller="Article" asp-action="Ganoderma">

                            <p class="line-clamp-1">  قهوه گانودرما مغذی و سالم  </p>
                            <span href="#" class="flex items-center gap-x-1 text-sm text-gray-400">
                                <svg class="w-4 h-4 mb-1">
                                    <use href="#calendar"></use>
                                </svg>
                                1403/02/21
                            </span>
                        </a>
                    </li>
                    <li>
                        <img class="w-24 h-16 object-cover rounded-lg" src="/assets/images/articles/sorom moo.jpg" alt="">
                        <a class="flex flex-col gap-y-2 " asp-controller="Article" asp-action="HairSorom">
                            <p class="line-clamp-1">     سرم مو لاکچری کویوین عصاره گیاهی   </p>
                            <span href="#" class="flex items-center gap-x-1 text-sm text-gray-400">
                                <svg class="w-4 h-4 mb-1">
                                    <use href="#calendar"></use>
                                </svg>
                                1403/02/21
                            </span>
                        </a>
                    </li>
                    <li>
                        <img class="w-24 h-16 object-cover rounded-lg" src="/assets/images/articles/Solion.jpg" alt="">
                        <a asp-controller="Article" asp-action="kaviar">
                            <p class="line-clamp-1">بررسی سولیون بدن  خاویار</p>
                            <span href="#" class="flex items-center gap-x-1 text-sm text-gray-400">
                                <svg class="w-4 h-4 mb-1">
                                    <use href="#calendar"></use>
                                </svg>
                                1403/02/21
                            </span>
                        </a>
                    </li>
                    <li>
                        <img class="w-24 h-16 object-cover rounded-lg" src="/assets/images/articles/pankeik.jpg" alt="">
                        <a class="flex flex-col gap-y-2 " asp-controller="Article" asp-action="pankeick">
                            <p class="line-clamp-1"> برسی پنکیک ارایشی لاکچری کویین   </p>
                            <span href="#" class="flex items-center gap-x-1 text-sm text-gray-400">
                                <svg class="w-4 h-4 mb-1">
                                    <use href="#calendar"></use>
                                </svg>
                                1403/02/21
                            </span>
                        </a>
                    </li>
                </ul>
                <a asp-controller="Home" asp-action="Article" class="py-1.5 gap-x-1 bg-blue-500 hover:bg-blue-600 flex items-center justify-center text-white rounded-lg transition-all">
                    مشاهده بیشتر
                    <svg class="w-4 h-4">
                        <use href="#chevron-left"></use>
                    </svg>
                </a>
            </div>
            <div>
                <h4 class="font-DanaMedium"> دسته بندی : </h4>
                <ul class="child:flex child:items-center child:justify-between child:cursor-pointer space-y-3 ">
                    <li class="group">
                        <span class="flex items-center justify-center gap-x-1 group-hover:pr-2 duration-300 transition-all group-hover:text-blue-500">
                            <p>برسی موبایل</p>
                            <svg class="w-4 h-4">
                                <use href="#chevron-left"></use>
                            </svg>
                        </span>
                        <span class="w-5 h-5 flex items-center justify-center rounded-lg text-white bg-blue-500 text-xs">12</span>
                    </li>
                    <li class="group">
                        <span class="flex items-center justify-center gap-x-1 group-hover:pr-2 duration-300 transition-all group-hover:text-blue-500">
                            <p>لپتاپ</p>
                            <svg class="w-4 h-4">
                                <use href="#chevron-left"></use>
                            </svg>
                        </span>
                        <span class="w-5 h-5 flex items-center justify-center rounded-lg text-white bg-blue-500 text-xs">2</span>
                    </li>
                    <li class="group">
                        <span class="flex items-center justify-center gap-x-1 group-hover:pr-2 duration-300 transition-all group-hover:text-blue-500">
                            <p>هدفون و ساعت</p>
                            <svg class="w-4 h-4">
                                <use href="#chevron-left"></use>
                            </svg>
                        </span>
                        <span class="w-5 h-5 flex items-center justify-center rounded-lg text-white bg-blue-500 text-xs">6</span>
                    </li>
                    <li class="group">
                        <span class="flex items-center justify-center gap-x-1 group-hover:pr-2 duration-300 transition-all group-hover:text-blue-500">
                            <p>تکنولوژی</p>
                            <svg class="w-4 h-4">
                                <use href="#chevron-left"></use>
                            </svg>
                        </span>
                        <span class="w-5 h-5 flex items-center justify-center rounded-lg text-white bg-blue-500 text-xs">12</span>
                    </li>
                </ul>
            </div>
        </div>

    </section>
</main>

