<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LifitShop</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-r8H1RS9ZP6Xwb3uhxSPN2Dox+6FoqvuEbrj6Rlvu/Nw5P1n2LGFPU0wYDb3RzS8L" crossorigin="anonymous"> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/swiper.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/LifitShop.styles.css" asp-append-version="true" />
</head>
<body>
    @await Html.PartialAsync("_Svg")
    @await Html.PartialAsync("_Header")
    @* <div class="container"> *@
    @*     <main role="main" class="pb-3"> *@
            @RenderBody()
    @*     </main> *@
    @* </div> *@

    @await Html.PartialAsync("_Footer")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/alert.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
    <script src="~/js/productDetails.js" asp-append-version="true"></script>
    <script src="~/js/slider.js" asp-append-version="true"></script>
    <script src="~/js/timer.js" asp-append-version="true"></script>
    <script src="~/js/swiper.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
